* {
	box-sizing: border-box;
	transition: all .1s ease-in;
}

body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    color: #c2c2c2;
    width: 100%;
    height: 100%;
     
}

.container {
	margin: 20px auto; 
	width: 80%;
	height: 90%; 
	position: absolute;
	left: 50%;
	top:  50%;
	transform: translate(-50%, -50%); 
}

input {
	display: inline-block;
	background-color: #f1f1f1;
	border: 0px;
	padding-left: 20px;
	color: #ec5a62;
	font-size: 80px;
	width: 85%;
	font-weight: bold;
}

::-webkit-input-placeholder {
	color: #c2c2c2; 
}

button {
	background-color: #f1f1f1;
	border: 0px;	
	width: 80px;
}

button:hover,
button:focus{
	transform: scale(1.3);	
}

main {
    margin-bottom: 20px;
} 

h4 {
	text-transform: uppercase; /*текст заглавными буквами*/
}

.column {
	display: inline-block;
	width: 32%;
	color: #c2c2c2;
	vertical-align: top;
	padding: 20px 15px;
}

.column__list {
	list-style: none;
	text-decoration: none;
	padding-left: 0px;
	padding-top: 5px;  
}

.column__list li {
	
	margin-bottom: 5px;
		
}

.column__list li a {
	display: inline-block;	
	text-decoration: none;   
    color: #c2c2c2;
	font-weight: bold;
	background: rgba(118,117,128,0.05);
    padding: 15px;
    border-radius: 10px 10px 10px 10px; 
    width: 100%; 
 }

 .column__list img {
 	 vertical-align: middle;
 }

.people {
	border-radius: 50%;
}

.column__list  span {
	display: inline-block;	
	font-size: 14px;
	padding-left: 15px;
	vertical-align: middle;
	overflow: hidden;
	width: calc(100% - 50px);
}

li a:hover,
li a:focus {
	background-color: rgba(118, 117, 128, 0.1);
	color: #ec5a62;
}